.git
.gitignore
.env
.env.*
!.env.example

node_modules
.pnpm-store
data
bot/node_modules
bot/.pnpm-store
bot/data
bot/.env
bot/.env.*
!bot/.env.example

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

/Dockerfile
docker-compose.yml
README.md
setup.bat
setup.ps1
